{% extends 'base.html.twig' %}

{% block body %}
<br><br><br><br>
<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
            <h1>Commande : {{ app.user.username }}</h1>
            <p class="text-muted">Compte E-mail : {{app.user.email}} </p>
        <p>Commande du {{command.dateCommand | date("d-m-Y h:i")}}</p>
        <p>Commande n° : {{command.id}}</p>
        <p>Total de la commande  : {{command.total}} $</p>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-primary" href="{{ path('commands') }}">Historique commande</a>
    </div>
  </div>
</div>
<div class="container-fluid">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
              <th>Produit</th>
              <th>Prix</th>
              {% for detailsCommand in detailsCommands %}
                  <tr>
              </tr>
              <tr>
              <td> {{detailsCommand.reference}}</td>
              <td> {{detailsCommand.price}} $</td>
              {% endfor %}
               </tr>
               </table>
             </div>
           </div>
{% endblock  %}

